[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
flask = "*"
flask-cors = "*"
flask-login = "*"
dnspython = "*"
bcrypt = "*"
python-dotenv = "*"
cloudinary = "*"
flask-pymongo = "*"
flask-assets = "*"
flask-wtf = "*"
gunicorn = "*"
mailer = "*"
flask-sqlalchemy = "*"
flask-talisman = "*"
flask-fontawesome = "*"
flask-ckeditor = "*"

[requires]
python_version = "3.6"
