.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 80% !important;
  margin: 0 10% !important;
}

.button {
  margin-top: 1rem;
}

label {
  font-size: 0.9rem;
  font-family: var(--primary-font), sans-serif;
}

.form-control,
textarea {
  border-radius: 2px;
  height: 3rem !important;
  max-width: 100%;
  border: 0.5px solid #cccccc;
}

.form-control::placeholder {
  color: #9c9c9c;
  font-size: 0.9rem;
  font-family: var(--primary-font), sans-serif;
}

.btn {
  height: 3.5rem;
  background: #0068b3;
  border-radius: 2px;
  box-shadow: 0 5px 20px 0px #0068b354;
  font-size: 1rem;
  font-family: var(--primary-font), sans-serif;
}

.users {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.form-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-end;
  flex-direction: column;
}

.viewoffers {
  height: 2.5rem !important;
  text-align: center;
  margin: 15px 0;
  border: none !important;
  border-radius: 3px;
}

.fas {
  padding: 5px;
}

span {
  font-family: var(--primary-font), sans-serif;
  margin-left: 5px;
  font-weight: 400;
}

.fa-sign-out-alt {
  color: #000411;
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .container {
    width: 100% !important;
    margin: 0 0 !important;
  }
}
