.container-fluid {
  padding: 0;
  margin: 0;
}
.home {
  height: 80vh;
  width: 99.95vw;
  color: rgba(47, 87, 199, 0.747);
  background-image: linear-gradient(
      to bottom,
      rgba(47, 87, 199, 0.747),
      rgba(47, 87, 199, 0.3)
    ),
    url("/static/images/vacay.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  text-align: center;
  margin: 0;
  margin-top: -1.3rem;
  position: relative;
}
h3 {
  color: #f2f2f2;
  font-weight: 900;
  font-size: 2rem;
  position: absolute;
  left: 50%;
  top: 10%;
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .home {
    width: 100%;
  }
  h3 {
    font-size: 1rem;
  }
}
