.home--container {
  height: 88vh;
  width: 99.95vw;
  background-image: url("/static/images/vacay.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  margin: 0;
  margin-top: -4.3rem;
  position: relative;
}

.login--container {
  width: 30%;
  border: 0.5px solid #d4d4d4;
  border-radius: 3px;
  padding: 5px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  background: var(--white);
}
.form--logo {
  object-fit: contain;
  height: 60px;
  width: 120px;
  margin: 10px 0;
  padding: 0;
}
.form--logo > img {
  height: 100%;
  width: 100%;
}
.form-heading {
  font-size: 1.2rem;
  font-family: var(--heading-font), sans-serif;
  font-weight: 900;
}
.form-group {
  margin: 0;
  padding: 5px;
}

label {
  font-size: 0.9rem;
  font-family: var(--primary-font), sans-serif;
}

.form-control,
textarea {
  border-radius: 2px !important;
  height: 3rem !important;
  max-width: 100%;
}
.form-control::placeholder {
  color: var(--grey);
  font-size: 0.9rem;
  font-family: var(--primary-font), sans-serif;
  font-weight: 400;
}
.button {
  padding: 5px;
}
.login--btn {
  height: 3.5rem;
  background: var(--primary-color);
  border-radius: 2px;
  box-shadow: 0 5px 20px 0px #0068b354;
  font-size: 1rem;
  font-family: var(--primary-font), sans-serif;
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .login--container {
    width: 100% !important;
    margin: 0 !important;
  }
}
