.offers--container {
  margin: 0 15%;
  width: 70%;
  margin-top: 0rem;
}

.offer--card {
  display: flex !important;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.welcome {
  color: #000411;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 1.5rem;
  font-family: var(--heading-font), Arial, Helvetica, sans-serif !important;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.content--title {
  font-size: 1rem;
}

.add-offer {
  height: 2.5rem !important;
  text-align: center;
  background: #0068b3;
  border-radius: 2px;
  box-shadow: 0 5px 20px 0px #0068b354;
  font-size: 1rem;
  font-family: var(--primary-font), sans-serif;
  margin: 15px 0;
}

.card {
  margin-bottom: 1rem;
  padding: 5px 10px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button {
  background: transparent;
  border: none;
}

.icon {
  padding: 5px;
}

.fas {
  padding: 5px;
}

span {
  font-family: var(--primary-font), sans-serif;
  margin-left: 5px;
  font-weight: 400;
}

.fa-sign-out-alt {
  color: #000411;
}

.fa-pencil-alt {
  color: #0068b3;
}

.fa-trash-alt {
  color: #e73846;
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .offers--container {
    margin: 1.2rem 0;
    width: 100%;
  }

  .add-offer {
    font-size: 0.9rem;
  }

  span {
    font-size: 0.7rem;
  }

  .content--title {
    font-size: 0.8rem;
  }

  .content--paragraph {
    font-size: 0.8rem;
  }

  .fas {
    font-size: 0.8rem;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 30vw;
  }
}
