:root {
  /* color palettes */
  --primary-color: #0068b3;
  --white: #ffffff;
  --dark-color: #000411;
  --grey: #bbbbbb;

  /* fonts */
  --heading-font: "Merriweather";
  --primary-font: "Muli";
  --secondary-font: "Roboto";

  /* addons */
  --box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.09);
  --box-shadow-primary: 5px 10px 20px 0px rgba(38, 111, 194, 0.15);
}

/* base css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--primary-font);
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

div {
  padding: 10px;
}

p {
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

a:hover {
  text-decoration: none;
  color: var(--dark-color);
}

.btn {
  border-radius: 3px;
  background: var(--primary-color);
  font-family: var(--primary-font);
  height: 2.7rem;
  box-shadow: var(--box-shadow-primary) !important;
}


.nav--container {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}

.navbar {
  height: auto;
  background: #ffffff !important;
  padding: 0 5px;
  box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.09);
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.logo--img {
  width: 9rem;
  height: 4rem;
  padding: 10px;
  object-fit: contain;
  background: white;
}

.logo--img img {
  height: 100%;
  width: 100%;
}

.nav--users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.nav--logout {
  margin: 0 3rem;
  padding: 0;
}

.register {
  height: 2.5rem !important;
  text-align: center;
  background: #0068b3;
  border-radius: 2px;
  box-shadow: 0 5px 20px 0px #0068b354;
  font-size: 1rem;
  font-family: var(--primary-font), sans-serif;
  margin: 15px 0;
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .navbar {
    height: auto !important;
    margin-bottom: 1rem;
  }
}

.container {
  padding: 20px;
  position: relative;
}
.home {
  height: 20vh;
  width: 40vw;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -2%);
  background: #000411;
  padding: 10px;
  text-align: center;
}
h3 {
  color: white;
  font-weight: 600;
}
.login-btn {
  margin-top: 5%;
  padding: 10px 30px;
  border-radius: 3px;
  height: 3rem !important;
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .home {
    width: 100%;
  }
  h3 {
    font-size: 1rem;
  }
}

.login--container {
  width: 40%;
  margin: -1rem 30%;
  border: 0.5px solid #d4d4d4;
  border-radius: 3px;
  padding: 5px 30px;
}
.form--logo {
  object-fit: contain;
  height: 80px;
  width: 130px;
  margin: 10px 0;
  padding: 0;
}
.form--logo > img {
  height: 100%;
  width: 100%;
}
.form-heading {
  font-size: 1.2rem;
  font-family: var(--heading-font), sans-serif;
  font-weight: 400;
}
.form-group {
  margin: 0;
  padding: 5px;
}

label {
  font-size: 0.9rem;
  font-family: var(--primary-font), sans-serif;
}

.form-control,
textarea {
  border-radius: 2px;
  height: 3rem !important;
  max-width: 100%;
}
.form-control::placeholder {
  color: var(--grey);
  font-size: 0.9rem;
  font-family: var(--primary-font), sans-serif;
  font-weight: 400;
}
.button {
  padding: 5px;
}
.login--btn {
  height: 3.5rem;
  background: var(--primary-color);
  border-radius: 2px;
  box-shadow: 0 5px 20px 0px #0068b354;
  font-size: 1rem;
  font-family: var(--primary-font), sans-serif;
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .container {
    width: 100% !important;
    margin: 0 !important;
  }
}

.offers--container {
  margin: 0 10%;
  width: 80%;
  margin-top: -2rem;
}

.offer--card {
  display: flex !important;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.users {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.welcome {
  color: #000411;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 1.5rem;
  font-family: var(--heading-font), Arial, Helvetica, sans-serif !important;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.content--title {
  font-size: 1rem;
}

.add-offer {
  height: 2.5rem !important;
  text-align: center;
  background: #0068b3;
  border-radius: 2px;
  box-shadow: 0 5px 20px 0px #0068b354;
  font-size: 1rem;
  font-family: var(--primary-font), sans-serif;
  margin: 15px 0;
}

.card {
  margin-bottom: 1rem;
  padding: 5px 10px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button {
  background: transparent;
  border: none;
}

.icon {
  padding: 5px;
}

.fas {
  padding: 5px;
}

span {
  font-family: var(--primary-font), sans-serif;
  margin-left: 5px;
  font-weight: 400;
}

.fa-sign-out-alt {
  color: #000411;
}

.fa-pencil-alt {
  color: #0068b3;
}

.fa-trash-alt {
  color: #e73846;
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .offers--container {
    margin: 1.2rem 0;
    width: 100%;
  }

  .add-offer {
    font-size: 0.9rem;
  }

  span {
    font-size: 0.7rem;
  }

  .content--title {
    font-size: 0.8rem;
  }

  .content--paragraph {
    font-size: 0.8rem;
  }

  .fas {
    font-size: 0.8rem;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 30vw;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 80% !important;
  margin: 0 10% !important;
}

.button {
  margin-top: 1rem;
}

label {
  font-size: 0.9rem;
  font-family: var(--primary-font), sans-serif;
}

.form-control,
textarea {
  border-radius: 2px;
  height: 3rem !important;
  max-width: 100%;
  border: 0.5px solid #cccccc;
}

.form-control::placeholder {
  color: #9c9c9c;
  font-size: 0.9rem;
  font-family: var(--primary-font), sans-serif;
}

.btn {
  height: 3.5rem;
  background: #0068b3;
  border-radius: 2px;
  box-shadow: 0 5px 20px 0px #0068b354;
  font-size: 1rem;
  font-family: var(--primary-font), sans-serif;
}

.users {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.form-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-end;
  flex-direction: column;
}

.viewoffers {
  height: 2.5rem !important;
  text-align: center;
  margin: 15px 0;
  border: none !important;
  border-radius: 3px;
}

.fas {
  padding: 5px;
}

span {
  font-family: var(--primary-font), sans-serif;
  margin-left: 5px;
  font-weight: 400;
}

.fa-sign-out-alt {
  color: #000411;
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .container {
    width: 100% !important;
    margin: 0 0 !important;
  }
}

.btn--offers {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  margin-top: -5rem;
  padding: 10px 0;
}
.form-control {
  display: flex;
}
textarea.form-control-textarea {
  height: 14rem !important;
  width: 100%;
  padding: 10px;
}
